/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0; /* Light gray background */
}

.login-container, .container {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-header, header {
    margin-bottom: 20px;
}

header {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #ff3c00; /* Red header background */
    color: white;
}

.logo {
    width: 100px;
}

/* Navigation Bar */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #333;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #555;
}

header, section {
    margin: 20px;
}

button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
